* {
    background-color: burlywood;
}
 
form * {
    background-color: beige;
}

#form-container {
    display: flex;
    justify-content: space-between;
}
.card, .card > p, #form-container, #form-container, form{
    background-color: beige;
    border-radius: 4px;
    border: 1px;
    padding: 5px;
    margin: 5px;
    align-content: center;
}

button {
    background-color: beige;
    border-radius: 4px;
    /* border: 3px; */
    padding: 5px;   
    margin: 5px;
}
.card button, .card p {
    display: inline;
}
.card button {
    justify-content: right;
}

#form-container {
    display: none;
}
form > *{
    display: block;
}