* {
    background-color:white;
}

body {
    margin: 5% 20%;
    padding: 2%;
    border: solid 1px;
    border-radius: 25px;
    border-color: black;
}


/* About the form and its contents */
form {
    border: solid 1px;
    border-radius: 15px;
    padding: 5%;
}

form * {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}

form button {
    height: 3em;
    margin-top: 2em;
}

#form_container {
    display: none;
    justify-content: center;
    border: 2px;
    display: flex;
    align-items: center;
}

#user_message {
    color: red;
    display: none;
}


/* About the game board and its contents */
#game_container{
    display: none;
    height: 30%;
    width: 30%;
    padding: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;
    /* border-color: black; */
}

#game_container * {
    background-color:bisque;
    color: brown;
}

#game_container table, button {
    width: 100%;
    height: 100%;
}

#game_container button {
    border-color: gray;
    border-radius: 3px;
    height: 100PX;
    font-size: 200%;
}
