* {
    background-color:white;
}

body {
    margin: 5% 20%;
    padding: 2%;
    border: solid 1px;
    border-radius: 25px;
    border-color: black;
}


/* About the form and its contents */
form {
    border: solid 1px;
    border-radius: 15px;
    padding: 5%;
}

form * {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}

form button {
    height: 3em;
    margin-top: 2em;
}

#form_container {
    /* display: none; */
    display: flex;
    justify-content: center;
    border: 2px;
}

#user_message {
    color: red;
    display: none;
}


/* About the game board and its contents */
#game_container{
    /* display: none; */
    border: solid 1px;
    margin: 5%;
    padding: 3px;
    height: 10em;
    /* width: 80%; */
    border-radius: 5px;
}

td {
    height: 30%;
}
#game_container table{
    border: solid 1px;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    
}

#game_container button {
    font-size: 10;
    border-color: gray;
    border-radius: 3px;
    min-height: 100%;
    min-width: 100%;
    font-size: 200%;
}
